<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="title">
    <h3>HealthyCrawler Search</h3>
  </div>
  <div class='search'></div>

  <div>
    <ul class="search-box">
      <form method="get" action="/search" id="search" enctype="application/x-www-form-urlencoded">
	    <li>
	      App Name:
	        <span>
	          <input id="name" type="text" name="name" class="name" placeholder="app name" value="" autocomplete="off" />
	        </span>
	    </li>
	    <li>
	      Categoty:
	      <span>
	        <input id="category" type="text" name="category" class="category" placeholder="category" value="" autocomplete="off" />
	      </span>
	    </li>
	    <li>
	      <button id="searchSubmit" type="submit" value="Search">Search</button>
	    </li>
	  </form>
    </ul>
  </div>
</body>
<footer>
  <script src="bundle.js"></script>
</footer>
</html>